
#header {
position: center;
}
body {
  background: url("https://www.planwallpaper.com/static/images/518164-backgrounds.jpg");
  background-size: cover;
  }
.container1 {
  text-align: center;
}
h1 {
font-family: 'Londrina Shadow', cursive;
 font-size: 60px;
 text-align: center;
 margin: 60px 0 0 0;
 color:  #ff8533;
}
h2 {
  font-family: 'Londrina Shadow', cursive;
   font-size: 40px;
   text-align: center;
   margin: 60px 0 0 0;
   color:  #ff8533;
}
.row-sm1 {
  text-align: left;
  margin: 30px 30px 30px 30px;
}
.row-sm2 {
  text-align: left;
  margin: 30px 30px 30px 30px;
}
.row-sm {
  text-align: center;
}
.map {
  margin: 100px 100px 100px 100px;
  position: absolute;
}
.one {
  color:  #ff8533
}
img {
  height: 200px;
  background-size: cover;
  position: center;
  margin: 40px 0px 0px 0px;
  border-radius: 20px;
}
#contactUs .form-group {
  width: 50%;
  margin: auto;
}
#contactUs .form-group .btn {
  float: right;
  margin-top: 10px
}
#contactUs p {
  width: 50%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
@media (max-width: 500px) {
h1 {
  font-size: 50px;
}
.one {
  font-size: 50px;
}
.two {
  font-size: 50px;
}
p {
    font-size: 20px;
    line-height: 24px;
  }
